.CategoryFilter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid lightgray;
  border-radius: 4px;
  padding: 8px;
}

.CategoryList {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.CategoryItem {
  display: flex;
  align-items: center;
  gap: 4px;
}

.CategoryCheckbox {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
}
